<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blog of Bendy and the Ink Machine</h1>
    <p class="lead blog-description">Up Up Down Down Left Right Left Right B A Start</p>
    <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>