<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "the-creator-lied-to-us.jpg", width: 300, alt: "the-creator-lied-to-us" %>
  </div>
  
  <div class="col-md-8">
    <p>Name: Davin Woolf</p>
    
    <p>Age: 14</p>
    
    <p>Fav Game: Bendy and the ink machine</p>
  </div>
</div>
