<div class="inner cover">
  <h1 class="cover-heading">DEAR HENRY.</h1>
  <p class="lead">IT SEEMS LIKE A LIFETIME SINCE WE WORKED ON CARTOONS TOGETHER</p>
  <p class="lead">30 YEARS REALLY SLIPS AWAY. DOESNT IT?</p>
  <p class="lead">IF YOU'RE BACK IN TOWN. COME VISIT THE OLD WORKSHOP.</p>
  <p class="lead">THERE'S SOMETHING I NEED TO SHOW YOU.</p>
  <p class="lead">YOUR BEST PAL. JOEY DREW</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-cool" %>
  </p>
</div>