<div class="inner cover">
  <h1 class="cover-heading">Dear Henry.</h1>
  <p class="lead">It seems like a lifetime since we worked on cartoons together.</p>
  <p class="lead">30 Years really slips away. Doesn't it?</p>
  <p class="lead">If you're back in town. Come visit the old workshop.</p>
  <p class="lead">There's something I need to show you.</p>
  <p class="lead">Your Best Pal. Joey Drew</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-cool" %>
  </p>
</div>